.contact-section {
  text-align: center;
  background-color: var(--contact-black);
  width: auto;
  font-family: Arial, sans-serif;
  padding-bottom: 5rem;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--contact-white);
  margin-top: 6rem;
}

.contact-subtitle {
  color: var(--contact-white-trans);
  font-size: 1.1rem;
  max-width: 600px;
  margin: 2rem auto;
  line-height: 1.8rem;
}

.contact-grid {
  width: 70%;
  margin: auto auto;
  display: flex;
  gap: 3rem;
  padding: 3rem;
  flex-wrap: wrap;
}


.contact-card {
  max-width: 20rem;
  border-radius: 10px;
  padding: 1.5rem;
  margin: auto;
  color: var(--contact-white);
  transition: 0.3s ease;
  background-color: var(--contact-box-bg);
}

.contact{
  width: auto;
  padding: 0.4rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.contact-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contact-icon {
  font-size: 2.5rem;
  width: auto;
}

.contact-sub-title {
  width: auto;
  font-size: 1.5rem;
}

.contact-phone{
  font-size: 1.5rem;
  margin: 1rem 0;
}

.get-started {
  background-color: var(--contact-box-bg);
  color: #fff;
  border-radius: 15px;
  padding: 3rem 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.get-started h2{
  color: var(--contact-white);

}
.get-started p{
  color: var(--contact-white-trans);
  margin: 1.7rem 0;
  line-height: 1/5rem;
}







@media (max-width: 768px) {
  .contact-sub-title{
    font-size: 1.2rem;
  }
  
  .get-started{
    width: 80%;
  }
}

@media (max-width: 480px) {
  .contact-grid {
    font-size: 1.2rem;
  }

}
