#footer {
  background-color: var(--footer-black);
  color: var(--footer-white-trans);
  text-align: center;
  padding: 2rem 1rem;
  width: auto;
  font-size: 1rem;
}
.footer-title{
  margin: 2rem;
  width: auto;
}
#footer .socials {
  margin-top: 1rem;
  display: flex;
  width: 40%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#footer .socials a {
  color: var(--footer-white-trans);
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

#footer .socials a:hover {
  color: var(--footer-white-second);
}

@media (max-width: 768px) {
  #footer {
    font-size: 0.9rem;
  }

  #footer .socials {
    width: 80%;
    margin: auto;
  }

  #footer .socials a {
    font-size: 1.6rem;
    color: var(--footer-white-trans);
  }
  
}

