#header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 2px 60px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--header-black-trans);
    overflow: hidden;
    z-index: 100;
}
.logo-container h1{
    font-size: 1.3rem;
    color: var(--header-white);
}
.logo-container h1 a{
    color: var(--header-white);
    text-decoration: none;
    text-transform: uppercase;
}
.menu-container {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.menu-container a{
    margin-right:50px;
    text-decoration: none;
    color: var(--header-white);
    width: 6rem;
    padding: 0 1rem;
}

.menu-icon{
    display: none;
    font-size: 1.5rem;
    color: var(--header-white);
    cursor: pointer;
}

#header.sticky {
  position: fixed;
  color: var(--header-white);
  background: var(--header-black);
}

.theme-toggle{
  cursor: pointer;
    color: var(--header-white);
}


@media (max-width: 1024px) {
  .menu-container{
    margin-right: 3rem;
    gap: 2rem;
  }
  .menu-container a{
    font-size: 0.8rem;
    width: 4.2rem;
    margin-right: -0.04rem;
  }
}



@media (max-width: 768px) {
    .menu-container {
        display: none;
        position: fixed;
        top: 50px; /* below header */
        right: 0;
        height: auto;
        z-index: -100;
        margin: 0;
        padding: 0;
        width: 30%;
        background: var(--header-black);
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .active {
        display: flex;
    }

    .menu-container a {
      width: auto;
      font-size: 1rem;
      z-index: 10000;
      border-bottom: 2px solid var(--header-white-trans);
    }

  .menu-icon {
    display: block;
    text-align: end;
    margin-right: 5rem;
    z-index: 200;
  }
}



@media (max-width: 480px) {
  .about-container .main-container{
    width: auto;
    flex-direction: column-reverse;
    margin: auto auto;
  }
  .services-wrapper{
    width: auto;
  }
  .about-title {
    font-size: 1.6rem;
  }

  .intro-text p {
    font-size: 0.95rem;
  }

  .skill-item {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }
}